.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: white;
    color: black;
    flex: 1;
    outline: 1px solid #888;
}

.operator {
    background-color: #fe9241;
    color: white;
}

.button-wrapper:hover {
    background-color: #777777;
    color: rgb(58, 58, 58);
    outline: 2px solid #888;
}

.operator:hover {
    background-color: #b85103;
    color: white;
}